.dice-tray.combat-chat-dice-tray > * {
    margin: 0;
  }
  
  .dice-tray.combat-chat-dice-tray {
      gap: 1px;
      display: flex;
      flex-direction: column;
      margin: 0 3px 3px 3px;
  }
  
  .combat-chat-dice-tray .dice-tray__buttons {
      gap: 1px;
  }
  
  .dice-tray.combat-chat-dice-tray button {
      height: 24px;
      margin: 0;
  }
  
  .dice-tray.combat-chat-dice-tray button svg {
      height: 100%;
      width: auto;
  }
  
  .combat-chat-dice-tray .dice-tray__math {
      gap: 1px;
  }
  
  .dice-tray.combat-chat-dice-tray input[type="text"] {
      height: 24px;
  }
  
  .dice-tray.combat-chat-dice-tray .dice-tray__stacked {
      flex-direction: row;
      height: 24px;
      margin: 0;
  }
  
  .dice-tray.combat-chat-dice-tray button.dice-tray__ad {
      height: 24px;
  }
  
  