#chat {
    order: 2; /* Place the chat below the combat tracker */
}

#combat {
    min-height: 180px;
}

/* The following rules gain a bit of screen real estate by removing padding and shrinking elements */
#sidebar {
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
}

.combat-sidebar .combat-tracker-header {
    line-height: 15px !important;
}

.combat-sidebar #combat-controls {
    padding-top: 2px !important;
}

.combat-sidebar #combat-controls a {
    font-size: 1rem !important;
    line-height: 20px !important;
}

.combat-sidebar .combat-tracker-header .encounters {
    align-items: center;
    height: 20px;
}

.combat-sidebar .combat-tracker-header a.combat-button.combat-cycle {
    font-size: 1.25rem !important;
    transform: translateY(-2px);
}

.combat-chat #chat-form {
    height: 42px;
    flex-basis: 42px;
}

.combat-chat #chat-message {
    min-height: 42px;
}

.combat-chat {
    position: relative;
    min-height: 100px;
}

.combat-chat::before {
    content: '';
    height: 8px;
    cursor: row-resize;
}

.combat-chat::after {
    content: '';
    height: 2px;
    position: absolute;
    top: 2px;
    left: 4px;
    right: 4px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    cursor: row-resize;
}

.combat-chat.hide-chat-input #chat-log ~ *,
body.emu.e-body#emu #sidebar #chat.combat-chat.hide-chat-input #chat-log ~ * { /* Ernie's Modern UI compatibility */
    display: none !important;
}
