/* -------------------------------------------- */
/*  Chat Element                                */
/* -------------------------------------------- */

#chat {
    order: 2; /* Place the chat below the combat tracker */
}

#chat.combat-chat {
    gap: 0;
    padding: 0;
}

#chat:not(.combat-chat) #combat-chat-divider {
    display: none;
}

/* -------------------------------------------- */
/*  Combat Chat                                 */
/* -------------------------------------------- */

.combat-chat .chat-scroll {
    margin-bottom: 0.5rem;
}

.combat-chat .chat-log .message {
    margin: 0;
}

.combat-chat .chat-form {
    margin: 0 3px 3px 3px;
}

.combat-chat.hide-chat-input .chat-form {
    display: none !important;
}

/* -------------------------------------------- */
/*  Divider                                     */
/* -------------------------------------------- */

#combat-chat-divider {
    align-items: center;
    cursor: ns-resize;
    display: flex;
    flex: none;
    justify-content: center;
    padding: 1px 0;
    width: 100%;
}

#combat-chat-divider i {
    color: var(--color-text-light-0);
    font-size: var(--font-size-16);
    text-shadow: 0 0 3px var(--color-shadow-primary);
    padding: 0;
}
